{{ define "yield"}}
<div id="form-container">
  {{if .ActionDone}}
  <div class="success">Message envoyé. Vous allez être redirigé dans quelques secondes ...</div> 
  <script type="text/javascript">
    setTimeout("location.href = '/';",3000);
</script>
  {{ end }}
  <form action="/contact" method="POST">
    <fieldset>
        <legend>Contact</legend>
        <label for="name">Prénom</label>
        <input type="text" name="name" value="{{.Ressource.Name}}" />
        <br />
        <label for="email">E-mail</label>
        <input type="email" name="email" value="{{.Ressource.Email}}"/>
        <br />
        <label for="subject">Sujet</label>
        <input type="text" name="subject" value="{{.Ressource.Subject}}"/>
        <br />
        <label for="message">Message</label>
        <input type="text" name="message" value="{{.Ressource.Message}}"/><br>
        <button class="button" type="submit">Envoyer message</button>
      </fieldset>
  
    </form>
  
    {{range $key, $value := .Errors}}
 
    {{if (eq $key "errMail")}}
    <div class="error">{{$value}}</div>  
    {{ else }}
    <div class="error">{{$key}} : {{$value}}</div>
    {{end}}
  {{end}}

</div>
</div>
<style>
    #form-container {
      display: flex;
      width: 50%;
      height: 500px;
      margin: 0 auto;
      border: 1px solid black;
      background: rgb(209, 207, 207);
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .button {
      font-size: 1rem;
      font-weight: bold;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      color: white;
      background: rgb(3, 165, 193);
    }
  
    legend {
      font-size: 2rem;
      font-weight: bold;
    }
    input,
    label {
      font-size: 1.5rem;
      margin-left: 0.5rem;
      margin-bottom: 0.5rem;
    }
  
    label {
      display: inline-block;
      width: 150px;
    }
  
    @media screen and (max-width: 650px) {
      #form-container {
        width: 100%;
      }
    }
  </style>
{{ end }}
