{{ define "yield"}}
<div id="container">
  <div id="left">
    <span id="icon">🏀</span>
    <h1>
      Court !
    </h1>
    <h2>Rejoins la communauté !</h2>
    <a class="button" href="/signup">Créer un compte</a>
  </div>
  <div id="right">
    <form id="login-form" action="/signin" method="POST">
      <fieldset>
        <legend>Connexion</legend>
        <label for="username">Nom</label>
        <input type="text" name="username" />
        <br />
        <label for="password">Mot de passe</label>
        <input type="password" name="password" /><br />
        <button class="button" type="submit">Connexion</button>
      </fieldset>
    </form>
    {{range $key, $value := .}}
    <div class="error">{{ $key }} : {{ $value }}</div>
    {{ end }}
  </div>
</div>
<style>
  #container {
    display: flex;
    width: 50%;
    height: 500px;
    margin: 0 auto;
    border: 1px solid black;
    background: rgb(209, 207, 207);
  }
  #left,
  #right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: white;
    background: rgb(3, 165, 193);
  }
  #login-form {
    display: inline-block;
    width: 80%;
  }
  legend {
    font-size: 2rem;
    font-weight: bold;
  }
  input,
  label {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }

  label {
    display: inline-block;
    width: 150px;
  }

  @media screen and (max-width: 1550px) {
    #container {
      width: 100%;
    }
  }

  @media screen and (max-width: 750px) {
    #container {
      flex-direction: column;
    }
  }
</style>
{{ end }}
